# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
.DS_Store
*/.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*


# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/src/build/*
docs/build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/

# Build and docs folder/files
*.csv

# VSCode
.vscode

# hypothesis
.hypothesis

# Jupyter notebooks
*checkpoint.ipynb

# poetry
poetry.lock
